- unless @user.identity.nil?
  = bootstrap_form_for @user, url: user_path do |f|
    .panel{ class: @user.force_password_reset? ? 'panel-danger' : 'panel-default' }
      .panel-heading
        %h1.panel-title
          Change password
      .panel-body
        - if !@user.force_password_reset?
          %h4 Leave blank to keep current password
          = f.password_field :current_password
        - else
          %h4 You must reset your password
        = f.password_field :password
        = f.password_field :password_confirmation
      .panel-footer.text-right
        = f.primary 'Change password'
