.row
  .col-md-8.col-md-offset-2
    %h2 Welcome to GINA::ID
    - if current_user.guest?
      = render 'sessions/signin'
    - else
      %h3
        Hello #{current_user.name}
        %small (Not #{current_user.name}, click #{link_to "here", signout_path})

      = render 'user_upgrade_notice'
      = render 'access_gina_services'
      = render 'activation_message'
